<h3 class="ui header">{{t "forms.i-i-s-g-e-n-ед-изм-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерСтроки
      class=(if (v-get validationModel "номерСтроки" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-ед-изм-e.номерСтроки-caption")
      data-test-i-i-s-g-e-n-ед-изм-e-номерСтроки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерСтроки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.единица
      class=(if (v-get validationModel "единица" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-ед-изм-e.единица-caption")
      data-test-i-i-s-g-e-n-ед-изм-e-единица=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "единица" "message")}}
  </div>
</form>
