<h3 class="ui header">{{t "forms.i-i-s-g-e-n-данные-орг-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерСтроки
      class=(if (v-get validationModel "номерСтроки" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-данные-орг-e.номерСтроки-caption")
      data-test-i-i-s-g-e-n-данные-орг-e-номерСтроки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерСтроки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.email
      class=(if (v-get validationModel "email" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-данные-орг-e.email-caption")
      data-test-i-i-s-g-e-n-данные-орг-e-email=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "email" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.наименование
      class=(if (v-get validationModel "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-данные-орг-e.наименование-caption")
      data-test-i-i-s-g-e-n-данные-орг-e-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.иНН
      class=(if (v-get validationModel "иНН" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-данные-орг-e.иНН-caption")
      data-test-i-i-s-g-e-n-данные-орг-e-иНН=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "иНН" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.оГРН
      class=(if (v-get validationModel "оГРН" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-данные-орг-e.оГРН-caption")
      data-test-i-i-s-g-e-n-данные-орг-e-оГРН=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "оГРН" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.телефон
      class=(if (v-get validationModel "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-данные-орг-e.телефон-caption")
      data-test-i-i-s-g-e-n-данные-орг-e-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "телефон" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.оПФ
      class=(if (v-get validationModel "оПФ" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-данные-орг-e.оПФ-caption")
      data-test-i-i-s-g-e-n-данные-орг-e-оПФ=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "оПФ" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.юрАдрес
      class=(if (v-get validationModel "юрАдрес" "isInvalid") "error")
      label=(t "forms.i-i-s-g-e-n-данные-орг-e.юрАдрес-caption")
      data-test-i-i-s-g-e-n-данные-орг-e-юрАдрес=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "юрАдрес" "message")}}
  </div>
</form>
